{% extends 'layout/template.html' %}
{% load static %}
{% block judul %}GUEST BOOK{% endblock %}
{% block content %}


    <div class = "judul2">
        <h1>GUEST BOOK</h1>
    </div>
    <div class = "contenttamu">
        <form>
            Nama :
            <br>
            <input type="text" name ="nama">
            <br>
            Tanggal :
            <br>
            <input type="date">
            <br>
            Email:
            <br>
            <input type="email">
            <br>
            Subjek:
            <br>
            <input type="text" name="Subjek">
            <br>
            Message:
            <br>
            <textarea name ="textarea">
            </textarea> 
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
 {% endblock %}