{% extends 'layout/template.html' %}
{% load static %}
{% block judul %}MY FAV ARTIST{% endblock %}
{% block content %}

    <div class = "judul">
        <h1>MY FAVORITE ARTIST PROFILE</h1>
    </div>

    <div class="MainContent2">
        <div class = "bts">
            <div class ="bgblack">
                <h1>B T S</h1>
            </div>
        </div>

        <div class="namjoon">
            <img src = "{% static '/pics/namjoon.png' %}" id="photo2">
            <h3>KIM NAMJOON</h3>
        </div>

        <div class="seokjin">
                <img src = "{% static 'pics/jin.png' %}" id="photo2">
                <h3>KIM SEOKJIN</h3>
        </div>

        <div class="hoseok">
                <img src = "{% static '/pics/jhope.png' %}" id="photo2">
                <h3>JUNG HOSEOK</h3>
        </div>

        <div class="jimin">
                <img src = "{% static '/pics/jimin.png' %}" id="photo2">
                <h3>PARK JIMIN</h3>
        </div>

        <div class="yoongi">
                <img src = "{% static '/pics/suga.png' %}" id="photo2">
                <h3>MIN YOONGI</h3>
        </div>

        <div class="taehyung">
                <img src = "{% static '/pics/v.png' %}" id="photo2">
                <h3>KIM TAEHYUNG</h3>
        </div>

        <div class="jungkook">
                <img src = "{% static '/pics/jungkook.png' %}" id="photo2">
                <h3>JEON JUNGKOOK</h3>
        </div>
    </div>

{% endblock %}


