{% extends 'layout/template.html' %}
{% load static %}
{% block judul %}Angelina Condro's Profile{% endblock %}
{% block content %}
        <div class="MainContent">
            <div class = "home", id="Home">
                <div class = "flex-home">
                    <div class ="bgblack">
                        <h2>HI ! MY NAME IS</h2>
                        <h1>ANGELINA CONDRO</h1>
                        <h3>"I'd rather die than live without any passion"</h3>
                        <ul>
                            <li><a href="http://line.me/ti/p/~angelinac_4" title="Line"><img class="sosmed" src="{% static 'pics/line.png' %}"></a></li>
                            <li><a href="#" title="Telephone"><img class="sosmed" src="{% static 'pics/telephone.png' %}"></a></li>
                            <li><a href="#" title="Email"><img class="sosmed" src="{% static '/pics/email.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class = "profile", id="AboutMe">
                    <h2>ABOUT ME</h2>
                    <img id = "photo" src="{% static '/pics/angel.jpg' %}">
                    <div class = "bio">
                        <div class = "bio1">
                            <h4>Place of Birth</h3>
                            <h3>Makassar</h3>
                            <h4>Weight</h4>
                            <h3>44 kg</h3>
                            <h4>Religion</h4>
                            <h3>Catholic</h3>
                        </div>
                        <div class ="bio2">
                            <h4>Date of Birth</h3>
                            <h3>March 28th 2000</h3>
                            <h4>Height</h4>
                            <h3>157 cm</h3>
                            <h4>Gender</h4>
                            <h3>Female</h3>
                        </div>
                    </div>
                    <p id = "about">I am an university student who majored in Information System and still learning
                        about web development and design. I love singing, dancing, drawing, and playing
                        musical instruments. I also love learning and trying new things.</p>
                
            </div>

            <div class ="edu", id="Education">
                <h2>EDUCATION</h2>
                <div class="timeline">
                    <div class="container left">
                        <div class="content">
                            <h2>2005 - 2011</h2>
                            <p>SDK IPEKA MAKASSAR</p>
                        </div>
                    </div>

                    <div class="container right">
                        <div class="content">
                            <h2>2011 - 2014</h2>
                            <p>SMPK IPEKA MAKASSAR</p>
                        </div>
                    </div>

                    <div class="container left">
                        <div class="content">
                            <h2>2014 - 2017</h2>
                            <p>SMA KATOLIK RAJAWALI</p>
                        </div>
                    </div>

                    <div class="container right">
                        <div class="content">
                            <h2>2017</h2>
                            <p>UNIVERSITAS INDONESIA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "skill", id="Skills">
                <h2>SKILL</h2>
                <div class = "flex-skill">
                    <table>
                        <tr>
                            <td class="circle"><h2>65%</h2></td>
                            <td class="circle"><h2>75%</h2></td>
                            <td class="circle"><h2>50%</h2></td>
                            <td class="circle"><h2>60%</h2></td>
                        </tr>
                        <tr>
                            <td class = "tulisan">CODING</td>
                            <td class = "tulisan">SINGING</td>
                            <td class = "tulisan">WRITING</td>
                            <td class = "tulisan">DESIGN</td>
                        </tr>	
                    </table>
                </div>
            </div>

            <div class = "exp", id="Experience">
                <h2>EXPERIENCE</h2>
                <table class ="tabel">
                    <tr>
                        <td class = "tahun">2015</td>
                        <td class = "tahun">2017</td>
                        <td class = "tahun">2017</td>
                        <td class = "tahun">2018</td>
                        <td class = "tahun">2018</td>
                        <td class = "tahun">2018</td>
                        <td class = "tahun">2018</td>
                    </tr>	
                    <div class = "timeline2">
                        <tr class="dots">
                            <td class="dot"></td>
                            <td class="dot"></td>
                            <td class="dot"></td>
                            <td class="dot"></td>
                            <td class="dot"></td>
                            <td class="dot"></td>
                            <td class="dot"></td>
                        </tr>
                    </div>
                    <tr>
                        <td class = "explain">STAFF ACARA FANCY FAIR SMAK RAJAWALI</td>
                        <td class = "explain">STAFF TICKETING UI GTC</td>
                        <td class = "explain">STAFF HUMAS NATAL KMK UI </td>
                        <td class = "explain">STAFF ACARA BETIS</td>
                        <td class = "explain">STAFF BAZKOM COMPUTERS GET TOGETHER</td>
                        <td class = "explain">STAFF STAGE COMPFEST X</td>
                        <td class = "explain">STAFF MEDIS PMB FASILKOM UI</td>
                    </tr>	
                </table>          
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myNavbar");
                if (x.className === "nav") {
                    x.className += " responsive";
                } else {
                    x.className = "nav";
                }
            }
        </script>
{% endblock %}
