{% extends 'layout/template.html' %}
{% load static %}
{% block judul %}My Schedule{% endblock %}
{% block content %}

<div class="schedule">
    <div class="judul2">
        <h1>Schedule</h1>
    </div>
    <form id="form" method="POST" action="{% url 'postnew' %}">
        {% csrf_token %}
        {{message_form}}

        <br>
        <button type="submit" class="btn btn-default">Submit</button>
        

    </form>

</div>
<table class="table2">       
    <tr>
        <td id="tableHead">Nama</td>
        <td id="tableHead">Date and Time</td>
        <td id="tableHead">Place</td>
        <td id="tableHead">Category</td>
    </tr>
    {% for i in sched %}
    <tr class="hasil">
        <td> {{i.course_name}} </td>
        <td> {{i.course_date}} </td>
        <td> {{i.course_place}} </td>
        <td> {{i.course_category}} </td>
    </tr>
    {% endfor %}

</table>
<form action="{% url 'postdelete' %}">
        {% csrf_token %}
        <button type="delete" class="btn btn-default">Delete All</button>
</form> 


{% endblock %}