<div class = "flexhead">
    <h1>WELCOME TO MY PROFILE</h1>
    <div class = "nav" id="myNavbar">
        <ul>
            <a href = "../#Home">HOME</a>
            <a href = "../#AboutMe">ABOUT ME</a>
            <a href = "../#Education">EDUCATION</a>
            <a href = "../#Skills">SKILL</a>
            <a href = "../#Experience">EXPERIENCE</a>
            <a href = "favorite">FAVORITE</a>
            <a href = "challenge">CONTACT ME</a>
            <a href = "postnew">SCHEDULE</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </ul>
    </div>
</div>