html{
	background-color: black;
	background-image: url("pics/reddie.jpg");
	background-repeat: no-repeat;
	background-size: 100% 55vw;
	width:100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body{
   color : rgba(255,255,255,1);
   font-family: 'Josefin Sans', serif;
   background-color: rgba(0, 0, 0, 0);
}
.flexhead{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
header{
	width : 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
.flexhead h1{
	color: white;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-top: 3vw;
	margin-left: 30%;
}


.nav{
	overflow: hidden;
	position: relative;
	width: 100%;
	right: -12%;

}
.nav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.nav a.active {
    background-color: #4CAF50;
    color: white;
}
.nav a:hover{
	background-color: #ddd;
  	color: black;
}

.nav .icon{
	display: none;
}

.MainContent{
	height: 2000px;
	width: 100%;
	top: 3vw;
	position: absolute;
	left: 50%;
	margin-left: -40vw;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.home{
	width: 80%;
	height: 550px;
	background-image: url("pics/bgweb.jpg");
	opacity: 0.9;
	top: 10vw;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.flex-home{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.home h4{
	margin-bottom: 4vw;
}
.profile{
	background-color: #FFE4A6;
	width: 80%;
	height: 600px;
	position: absolute;
	top: 31%;
	color: black;
}

.bgblack{
	background-color: rgba(0, 0, 0, 0.5);
	background-attachment: fixed;
    background-size: cover;
	background-position: center;
	width: 100%;
	height: 550px;
	text-align: center;
	font-family: "Josefin Sans", Arial;
}

.bgblack h2{
	font-size: 60px;
	position: relative;
	top: 5vw;
}

.bgblack h1{
	font-size: 70px;
	position: relative;
	top: 7vw;
	
}

.bgblack h3{
	font-size: 30px;
	position: relative;
	top: 8vw;
	
}


.sosmed{
	display: inline-block;
	position: relative;
	top: 10vw;
	width: 50px;
	margin : 1vw 1.5vw;
}

.bgblack li{
	float: left;
	position: relative;
	left: 35%;
	list-style: none;
}

.bgblack a{
	float: left;
}


.profile h2{
	position: relative;
	text-align: center;
	top: 30px;
}

#photo{
	margin: 0;
	top: 60px;
	position: relative;
	left: 42%;
	border : 20px #3d4656;
	background-size: 100%;
  	border-radius: 100%;
  	width: 15vmax;
  	height: 15vmax;
}


.bio1{
	position: relative;
	left: 25%;
	bottom: 10vw;
}

.bio2{
	position: relative;
	left: 55vw;
	bottom: 27vw;
}

.bio h3{
	font-size: 2vw;
}

.bio h4{
	font-size: 1vw;
}

#about{
	position: relative;
	text-align: center;
	bottom: 27vw;
	width: 30%;
	left: 28vw;
}

.edu{
	width: 80%;
	height: 650px;
	background-image: url("pics/college.jpg");
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	top: 58%;

}

.skill{
	width: 80%;
	height: 400px;
	background-color:#FFE4A6;
	position: absolute;
	top: 90%;
}

.flex-skill{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.exp{
	width: 80%;
	height: 400px;
	background-image:url("pics/expbg.jpg");
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	top: 110%;
}

.edu h2{
	text-align: center;
	margin-top: 30px;
}

.timeline {
	position: relative;
	max-width: 1200px;
	height: 550px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 5px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

* {
    box-sizing: border-box;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 30%;
	height: 22%;
}

.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: orange;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: -15.5%;
  }
  
.right {
	left: 15.5%;
}
  
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
  
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
  

.right::after {
	left: -16px;
}
  
.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
	color: black;
	text-align: center;
}
  
@media screen and (max-width: 600px) {
.timeline::after {
	  left: 30px;
	  
}
.content h2{
	font-size: 20px	;
}

.content p{
	font-size: 10px;
}
  

.container {
	  width: 100%;
	  top: 20px;
	  padding-left: 120px;
	  padding-right: 25px;
}
.container::before {
	  left: 110px;
	  border: medium solid white;
	  border-width: 10px 10px 10px 0;
	  border-color: transparent white transparent transparent;
}
.right{
	margin-left: -15%;
}
.left::after {
	left: 15vw;
}
.right::after{
	left: 15vw;
}
.right {
	  left: 0%;
}
}
.flex-skill{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.skill h2{
	margin-top: 5%;
	text-align: center;
	color: black;
}

.exp h2{
	text-align: center;
	margin-top: 5%;

}

.circle{
	height: 200px;
	width: 200px;
	position: relative;
	background-color: black;
	border-radius: 50%;
	border: 8px solid white;
}
.circle h2{
	text-align: center;
	position: relative;
	top: 30%;
	font-size: 50px;
	color: white;
}
.tahun,
.circle,
.explain,
.dot,
.tulisan {
	margin-left: 25px;
	left: 8%;
	top: 10px;
	display: inline-block;
}

.tulisan{
	position: relative;
	text-align: center;
	font-size: 30px;
	color: black;
	margin-left: 7.5%;
	margin-right: 3%;
	font-weight: bold;
}

.timeline2 {
	position: relative;
	width: 1000px;
	height: 2px;
	margin: 0 auto;
	top: 30%;
}

.timeline2::after {
	content: '';
	position: absolute;
	width: 900px;
	background-color: white;
	top: 50%;
	bottom: 0;
	margin-left: -3px;
}

.table{
	margin-left: 50%;
}
.dot{
	height: 30px;
	width: 30px;
	position: relative;
	margin-top: 5%;
	left: -5px;
	background-color: #FF2C4D;
	border-radius: 50%;
	margin-right: 97px;
}

.tahun{
	position: relative;
	font-size: 30px;
	top: 50px;
	left: -20px;
	text-align: center;
	width: 120px;
}

.explain{
	width: 120px;
	text-align: center;
	position: relative;
	left: -20px;
}
.body h2{
	color: white;
}
.footer{
	position:absolute;
	bottom:-2050px;
	text-align: center;
	color:#47525E;
	width:100%;
	height:60px;   /* Height of the footer */
}
@media screen and (max-width: 700px) {
	.flexhead h1{
		font-size: 30px;
		margin-left: 0px;
	}
	.nav a:not(:first-child) {
		display: none;
	}
  	.nav a.icon {
		float: right;
		display: block;
	}
	.home h1{
		font-size: 55px;
	}
	.bgblack li{
		left: 30px;
	}
	#photo{
		left: 0;
		width: 150px;
		height: 150px;
	}
	.bio1{
		left: 50%;
		bottom:0;
		top: -100px;
	}

	.bio2{
		left: 70%;
		bottom: 0;
		top: -253px;

	}

	.bio h3{
		font-size: 12px;
	}

	.bio h4{
		font-size: 8px;
	}
	#about{
		left: 0;
		bottom: 40%;
		width: 50%;
	
	}
	.skill{
		height: 900px;
	}
	.exp{
		top:135%;
	}
	.tulisan{
		display: none;
	}
	

}

@media screen and (max-width: 1200px){
	.nav.responsive a.icon {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (min-width: 481px) and (max-width: 960px) {

} /* Medium */

/*hal 2*/

.judul{
	color: #FFFFFF;
	font-weight: 500;
	line-height: 40px;
    text-align: left;
    left: 50%;
	position: relative;
	top:250px;
	margin-left: -22vw;
 }
 .MainContent2{
	height: 2000px;
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -40vw;

}

.bts{
	width: 80%;
	height: 500px;
	background-image: url("pics/bgpage21.jpg");
	top: 15%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.bgblack h1{
	margin-top: -0.01%;
    font-size: 80px;
    font-weight: bold;
}

.namjoon{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 45%;
    left: 8%;
	color: black;
}

.MainContent2 h3{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

#photo2{
    width: 180px;
    height:300px;
}

.seokjin{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 62%;
    left: 40%;
	color: black;
}

.hoseok{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 80%;
    left: 8%;
	color: black;
}

#jiminphoto{
    width: 300px;
    height: 300px;
    position: relative;
    left: -60px;
}

.jimin{
    background-color: white;
	width: 400px;
	height: 300px;
	position: absolute;
    top: 100%;
    left: 40%;
	color: black;
}

.yoongi{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 120%;
    left: 8%;
	color: black;
}

.taehyung{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 140%;
    left: 40%;
	color: black;
}

.jungkook{
    background-color: white;
	width: 450px;
	height: 300px;
	position: absolute;
    top: 160%;
    left: 8%;
	color: black;
}

.jungkook h3{
    bottom: 30px;
}

/* hal 3 */

.judul2{
     color: #FFFFFF;
     font-weight: 500;
     line-height: 40px;
     text-align: center;
	 position: relative;
	 top: 180px;
	 font-size: 40px;
	 float: center;
     margin-left: 30px;
 }

 form{
	 position: relative;
	 text-align: left;
	 left: 20%;
	 top: 190px;
     width: 70%;
     height: 500px;
     border-radius: 5px;

 }
 input{
     width: 90%;
	 margin: 5px;
	 font-size: 20px;
	 color: black;
     border-radius: 4px;
     border-color: orangered;
     text-align: center;
 }
 textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: orangered;
    background-color: #f8f8f8;
    resize: none;
}
.contenttamu{
	width: 80%;
	background-color: rgba(0, 0, 0,0);

    left: 10%;
    position: relative;

}

.schedule{
	width: 80%;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	left: 5%;
}

.table2{
	margin-top: 5%;
	margin-left: 5%;
	empty-cells: show;
	border-collapse: separate;
	border-spacing: 10vw 2vh;
	border: 2px solid white;
	text-align: center;
}

#tableHead{
	font-weight: bolder;
	font-size: 20px;
	border: 2px solid white;
	text-align: center;
}



  
  
  
